huggingface_hub
transformers
tqdm
wandb
accelerate
datasets
hydra-core==1.3.2
evaluate
pydantic
trl
peft
cachetools
scikit-learn
jinja2
colorama
timeout_decorator
sympy
multiprocess
fastapi
uvicorn
PyYAML
polars
omegaconf==2.3.0
antlr4-python3-runtime==4.9.3
math-verify
google-generativeai
psutil
ipywidgets
